{% extends "base.html" %}
{% load pagination_tags i18n typogrify %}

{% block title %}{{ feed.name }}{% endblock title %}

{% block content %}

    {% block list_title %}
    <h2>{{ feed.name }}</h2>
    {% endblock %}

    <ul>
        {% autopaginate posts %}
        {% for post in posts %}

        <li {% if post.read %}class="read"{% endif%}>
            <div class="item-head clearfix" id="item-{{ forloop.counter }}">
                <div class="meta clearfix">
                    {{ post.updated|date:"d.M"|upper }}

                    <form action="{% url feeds_post_read post.pk %}" method="post" class="mark-as-read{% if post.read %} read{% endif %}">
                        {{ form }}
                        <p>
                            <button type="submit">{% trans 'Mark as read' %}</button>
                        </p>
                    </form>
                    <a href="" class="prev-item">⇧</a>
                    <a href="" class="next-item">⬇</a>
                </div>
                <h3>
                    <a rel="popup" href="{{ post.link }}">
                        {{ post|typogrify }}
                    </a>
                </h3>
                {% if post.author %}
                <h4>{{ post.author }}</h4>
                {% endif %}
            </div>

            <div>
            {{ post.get_content|safe|typogrify }}
            </div>
        </li>
        {% empty %}
        <li>
            <h3>{% trans 'Nothing to be found' %}</h3>
        </li>
        {% endfor %}
    </ul>

    {% paginate %}
{% endblock %}

