{% extends "base.html" %}
{% load i18n %}


{% block content %}
<div>
<h2>{% trans 'Login' %}</h2>
    {% blocktrans %}
    <p>
        Forgotten your password? Enter your email address below and we will send
        you instructions on setting a new one.
    </p>
    {% endblocktrans %}

<form action="" method="post">
    {% if form.non_field_errors %}
    <div class="error">
    {{ form.non_field_errors }}
    </div>
    {% endif %}

    {% for field in form %}
    <div {% if field.errors %}class=" error"{% endif %}>
        {{ field.errors }}
        <label for="{{ field.auto_id }}" class="clearfix">
            {{ field.label }}
            {% if field.field.required %}*{% endif %}
        </label>

        {{ field }}
        {% if field.help_text %}
        <span class="small quiet">{{ field.help_text }}</span>
        {% endif %}
    </div>
    {% endfor %}
    <input type="submit" value="Submit" class="submit">
</form>
</div>
{% endblock %}
