{% extends "base.html" %}
{% load pagination_tags i18n typogrify %}

{% block title %}{{ feed.name }}{% endblock title %}

{% block content %}

    {% block list_title %}
    <h2>{{ feed.name }}</h2>
    {% endblock %}

    <ul>
        {% autopaginate posts %}
        {% for post in posts %}

        <li {% if post.read %}class="read"{% endif%}>
            <div class="item-head clearfix" id="item-{{ forloop.counter }}">
                <div class="meta clearfix">
                    {{ post.updated|date:"d.M"|upper }}
                    {% if post.read %}
                    <form action="{% url feeds_post_unread post.pk %}" method="post" class="read">
                    {% else %}
                    <form action="{% url feeds_post_read post.pk %}" method="post">
                    {% endif %}
                        {{ form }}
                        <button type="submit">{% trans 'Mark as read' %}</button>
                    </form>
                    <a href="" class="prev-item">⇧</a>
                    <a href="" class="next-item">⬇</a>
                </div>
                <h3>
                    <a href="{{ post.link }}">
                        {{ post|typogrify }}
                    </a>
                </h3>
                {% if post.author %}
                <h4>{{ post.author }}</h4>
                {% endif %}
            </div>

            <div class="item-body">
            {{ post.get_content|safe|typogrify }}
            </div>
        </li>
        {% endfor %}
    </ul>

    {% paginate %}
{% endblock %}

{% block feed_list %}

<h2>{% trans 'Feeds' %}</h2>
<a href="{% url feed_add %}" class="action">
    {% trans 'Add feed' %}
</a>
{% for feed in feeds %}
    <div class="{% cycle "odd" "even" %}">
        <h3>
            <a href="{{ feed.get_absolute_url }}">
                {{ feed.name }}
            </a>
        </h3>
    </div>
{% endfor %}
{% endblock %}
