{% extends 'base.html' %}
{% load pagination_tags i18n typogrify %}

{% block title %}{% trans 'Search Results' %}{% endblock title %}

{% block content %}
    <h2>{% trans 'Search' %}</h2>
        <ul>
            {% autopaginate page.object_list %}
            {% for result in page.object_list %}

            <li>
                <div class="item-head">
                    <h3>
                        <a href="{{ result.link }}">
                            {{ result.title|typogrify }}
                        </a>
                        ★
                        {{ result.object.feed.name }}
                    </h3>
                </div>
                <div>
                    {{ result.summary|safe|truncatewords_html:15 }}
                </div>

                {% comment %}
                {{ result.rendered|safe }}
                {% endcomment %}
            </li>
            {% endfor %}
        </ul>
{% endblock %}
