.w50 { width: 50%; }
.w33 { width: 33.33%; }
.w66 { width: 66.66%; }
.block {
  float: left;
  display: inline;
  *margin-left: -0.04em;
}
.grey_border { border-bottom: 1px solid #dddddd; }
h1 { font-size: 25px; }
h2 { font-size: 23px; }
h3 { font-size: 21px; }
h4 { font-size: 19px; }
h5 { font-size: 17px; }
h6 { font-size: 15px; }
h1, h2, h3, h4, h5 {
  font-family: "Big Caslon", "Adobe Garamond", Garamond, Georgia, serif;
  font-weight: normal;
}
#header { margin-bottom: 20px; }
#header h1 {
  font-size: 46px;
  font-weight: normal;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-left: 10px;
}
#header h1 a { text-decoration: none; }
h2 {
  margin-bottom: 5px !important;
  border-bottom: 1px solid #dddddd;
  letter-spacing: 1px;
  font-variant: small-caps;
  border-bottom: 1px solid #dddddd;
}
p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset { margin-bottom: 20px; }
ol { list-style: decimal; }
ul { list-style: square; }
li { margin-left: 30px; }
body {
  background: #ffffff;
  color: #333333;
  font: 0.8125em/1.5 Geneva, "Lucida Sans", Verdana, sans-serif;
  width: 960px;
  margin: 0 auto;
}
a:link { color: #555555; }
a:visited { color: #555555; }
a:hover { color: #333333; }
a:active { color: #333333; }
#feed-list {
  float: left;
  display: inline;
  *margin-left: -0.04em;
  width: 300px;
  margin-left: 10px;
  margin-right: 10px;
}
#feed-list a { text-decoration: none; }
#feed-list h2 + a {
  color: #ff0573;
  float: left;
  margin-bottom: 20px;
  margin-top: 10px;
  text-decoration: underline;
}
#feed-list h2 + a + div {
  clear: left;
  margin-bottom: 5px;
}
#feed-list h3 { margin-bottom: 0; }
#feed-list h3 a { background-color: #fff80a; }
#scrollable {
  position: relative;
  overflow: hidden;
  height: 300px;
}
#feed-list .items {
  position: absolute;
  height: 2000em;
}
#content {
  float: left;
  display: inline;
  *margin-left: -0.04em;
  width: 620px;
  margin-left: 10px;
  margin-right: 10px;
}
#content > ul a { text-decoration: none; }
#content > ul li {
  margin-left: 0;
  list-style-type: none;
  margin-bottom: 20px;
  color: #888888;
}
#content > ul li:hover .item-head a { color: #222222; }
.item-head h3 a:hover { color: #ff0573 !important; }
#content > ul li:hover .item-head h4 { color: #666666; }
#content > ul li:hover div:last-child { color: #666666; }
#content > ul li:hover div:last-child a { color: #0049a7; }
.item-head {
  margin-bottom: 20px;
  border-bottom: 1px solid #ffffff;
}
.item-head h3 {
  margin-bottom: 0;
  border-bottom: 0 solid !important;
  letter-spacing: 1px;
}
.item-head h4 {
  margin-bottom: 0;
  border-bottom: 0 solid !important;
  letter-spacing: 1px;
}
.item-head h3 a { color: #555555; }
.item-head > div {
  float: right;
  margin-bottom: 0;
  margin-left: 5px;
}
#content > ul li div:last-child a { color: #0061de; }
.active-item .item-head h3 a { color: #222222; }
.active-item .item-head { border-bottom: 1px dotted #666666; }
.meta {
  color: #b9b8af;
  font-size: 13px;
  font-weight: normal;
}
.meta form p { margin: 0; }
.meta button {
  text-indent: -10000em;
  border: none;
  background: no-repeat url(../img/bullet_toggle_minus.png);
}
.meta .read button { background: no-repeat url(../img/bullet_toggle_plus.png); }
label {
  float: left;
  width: 100px;
}
