{% extends "base.html" %}

{% block content %}
<div class="module">
    <h2>{{ feed.name }}</h2>
    <h3>Last modified: {{ feed.last_modified|date:"P F jS" }}</h3>

    <ul>
        {% for post in posts %}
        <li>{{ post }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block feed_list %}

<h2>Feeds</h2>
{% for feed in feeds %}
    <div class="{% cycle "odd" "even" %}">
        <h3>{{ feed.name }}</h3>
        <p>
            <a href="{{ feed.link}}">{{ feed.title }}</a>
        </p>
    </div>
{% endfor %}
{% endblock %}
