<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/assets/css/reset.css">
        <link type="text/css" rel="stylesheet" href="/assets/css/text.css">
        <link type="text/css" rel="stylesheet" href="/assets/css/960.css">
        <link type="text/css" rel="stylesheet" href="/assets/css/layout.css">
        {% block scripts %}
        <script src="/assets/js/jquery-1.2.6.min.js" type="text/javascript"></script>
        {% endblock %}
        <title>GRAB: {% block title %}{% endblock %}</title>
    </head>
    <body>
        <h1>Hello world</h1>
    </body>
</html>
