body {
    background: #eeecde;
}
#header {
    background: #333;
    color: #eeecde;
    font-family: Palatino,"Book Antiqua","URW Palladio L",serif;
    margin-bottom: 20px;
}
#header h1 {
    font-size: 46px;
}

div#feed-list h2 {
    color: #618fdc;
    margin-bottom: 10px;
}
div#feed-list h3 {
    margin-bottom: 0;
}
div#feed-list div {
    margin-bottom: 20px;
}
